In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

## Task 1: Abrir arquivo e criar DF

In [3]:
df = pd.read_csv("data/data.csv", sep=";")
df.head()

,twt_id,fsq_id,swm_id,link,name,categorie,country,state,city,timestamp
0,1527268559633661952,54c8ceaa498e323e347c60a7,190047492,https://t.co/pFZAwBGzRn,0,0,0,0,0,2022-05-19 12:43:05.349564
1,1527268840324972545,4cc043410cc4b713ad3cedf7,1382011868,https://t.co/GFuXUeuvrY,梅田出入口,Toll Booth,JP,Ōsaka,Osaka,2022-05-19 12:44:12.415195
2,1527268850215145473,57d4a224cd10ffc104e9b8c2,74247679,https://t.co/qwybUw4GdU,炉端肉焼き処猛伸 たけし,BBQ Joint,JP,Fukuoka,Fukuoka,2022-05-19 12:44:14.307749
3,1527268865868189696,6136525917ce7a2afe7f16bc,5019683,https://t.co/KSb8W1h7CS,The Blind Rabbit,Bar,GB,Nottinghamshire,Nottingham,2022-05-19 12:44:18.364958
4,1527268876345655299,0,0,https://t.co/2woZbFRR1J,0,0,0,0,0,2022-05-19 12:44:24.530626

In [4]:
df = df.astype(str)
df.dtypes

twt_id       object
fsq_id       object
swm_id       object
link         object
name         object
categorie    object
country      object
state        object
city         object
timestamp    object
dtype: object

In [5]:
df = df[df["name"].str.contains("0") == False]
df = df.reset_index()
del df['index']
df.head()

,twt_id,fsq_id,swm_id,link,name,categorie,country,state,city,timestamp
0,1527268840324972545,4cc043410cc4b713ad3cedf7,1382011868,https://t.co/GFuXUeuvrY,梅田出入口,Toll Booth,JP,Ōsaka,Osaka,2022-05-19 12:44:12.415195
1,1527268850215145473,57d4a224cd10ffc104e9b8c2,74247679,https://t.co/qwybUw4GdU,炉端肉焼き処猛伸 たけし,BBQ Joint,JP,Fukuoka,Fukuoka,2022-05-19 12:44:14.307749
2,1527268865868189696,6136525917ce7a2afe7f16bc,5019683,https://t.co/KSb8W1h7CS,The Blind Rabbit,Bar,GB,Nottinghamshire,Nottingham,2022-05-19 12:44:18.364958
3,1527268938131857411,4bbbd0392d9ea593dff39fce,135052880,https://t.co/kqNnQtr9dA,北山田交差点,Public Transportation,JP,Kanagawa,Yokohama,2022-05-19 12:44:35.349549
4,1527268960260997120,4d779ee18963f04d21e9ee37,92684528,https://t.co/PAwGVt16zm,Migros Ataköy Konakları - Ataköy Plus Avm,Department Store,TR,Istanbul,Bakırköy,2022-05-19 12:44:40.513704

In [8]:
df["twt_id"].value_counts()
#(df["categorie"]=="Bar").sum()

0